@model neveinNadeen.ViewModels.Auth

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>

    <link href="~/Styles/logIn.css" rel="stylesheet" />
</head>
<body>

    <br />
    <div class="border border-light;">

        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <h2 >Sign In</h2>
            <div>
                <div class="email">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>  @Html.Label("Email")</h6>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.IMDb_User.Email, new { @class = "form-control", @type = "email" })
                            @Html.ValidationMessageFor(m => m.IMDb_User.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="pass">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>   @Html.Label("Password")</h6>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.IMDb_User.Password, new { @class = "form-control", @type = "Password" })
                            @Html.ValidationMessageFor(m => m.IMDb_User.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="text-center col-md-12">
                <button type="submit" class="btn" style="background-color:rgb(240, 193, 75) ; width:30% ">Sign-In</button>
            </div>

        }
        <h1 class="text-center" style="font-size:13px;color:lightgray;height:20px;margin-top:20px;">New To IMDb?</h1>
        <div class="col-md-12 text-center" style="padding-bottom:40px">
            <button onclick="location.href='@Url.Action("NewUser", "User")'" class="btn btn-outline-secondary" style="width:75%; background-color:lightgray;"> Create yout IMDb account </button>
        </div>

    </div>

</body>

</html>









