
@model IEnumerable<neveinNadeen.ViewModels.CommentsVM>
@using neveinNadeen.ViewModels;


@if (Model != null)
{

    foreach (CommentsVM comment in Model)
    {

        <div class="row" style="width: 100.3%; border-bottom: 1px solid #d2cece; margin-right: -14px; margin-left: -1px; margin-bottom:10px;">

            <div class="col-md-4" style="width: 21%;">
                <div class="userProfil" style=" margin: 12px 9px;">
                    <img src="~/Images/profiles/@comment.Users.Image"class="" style="width: 46px; height: 46px;" />
                    <a href="#" style="margin-left: 5px; font-weight: bold; font-size: 12px;color:black;text-decoration:none"> @comment.Users.Fname </a>
                </div>
            </div>

            <div class="col-md-7" style="width:60%;">
                <div class="commentDetails">
                    <p style="margin-top: 27px; font-size: 13px; color: #9c9898;" > @comment.Conntent </p>
                  

                    <div class="@string.Format("{0}_{1}", "ReplayComments", comment.Id)" style="display:none;">


                        <div class="ReplayCommentInput" style="margin-left: 3%;  margin-bottom: 5px; margin-top: 8px;">
                            <input type="text" id="@string.Format("{0}_{1}", "inputReplay", comment.Id)" class="form-control" placeholder="Add a Comment ..." style="display: inline;" />
                            <button type="button" class="btn btn-default ReplyAddComment" data-id="@comment.Id"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-1" style="width:19%;">
                <div class="commentDate">
                   
                    <time class="timeago" style="margin-top: 27px; font-size: 13px; color: #9c9898;  margin-left: 4px;" datetime="@comment.Date">@comment.Date</time>

                </div>
            </div>
        </div>

    }
}


<script type="text/javascript">


    $(document).ready(function () {
        //nothing
        //Get All ReplyComment
       $('.Reply').on('click', function () {

            var ComID = $(this).attr('data-id');

            $.ajax({

                type: 'GET',
                url: '@Url.Action("GetComments", "Comment")',
                data: { ComID },
                success: function (response) {

                    if ($('div').hasClass('zoneReply_' + ComID + ''))
                    {
                        $('div [class=zoneReply_' + ComID + ']').remove();
                    }

                    var selReply = $("<div>").addClass('zoneReply_' + ComID);

                    selReply.append(response);
                    selReply.prependTo($('.ReplayComments_' + ComID));

                    $('.ReplayComments_' + ComID).show();

                },
                error: function (response) {
                    alert('something Wrong');
                }
            });

        });

        //Add Reply Comment
        $('.ReplyAddComment').on('click', function () {

            var ComID = $(this).attr('data-id');
            var CommentMsg = $('#inputReplay_' + ComID).val();
            var dateTimeNow = new Date();

            var subComment = {
                Conntent: CommentMsg,
                Date: dateTimeNow.toLocaleString()
            };


            $.ajax({

                type: 'POST',
                url: '@Url.Action("AddComment", "Comment")',
                data: { subComment, ComID },
                success: function (response) {

                    if ($('div').hasClass('zoneReply_' + ComID + '')) {
                        $('div [class=zoneReply_' + ComID + ']').remove();
                    }

                    var selReply = $("<div>").addClass('zoneReply_' + ComID);

                    selReply.append(response);
                    selReply.prependTo($('.ReplayComments_' + ComID));

                    $('.ReplayComments_' + ComID).show();

                },
                error: function (response) {
                    alert('something Wrong');
                }
            });

        });

        jQuery("time.timeago").timeago();


    })
</script>
